h1{
	width: 55%;
    border-style: none;
    border-radius: 5px;
    border-width: 60%;
	background-color: skyblue;
    margin: auto;
    margin-top: 30px;
    padding: 35px;
}

.i_list{
	background-color:#E8E8E8;
}

#div_left>.i_list>p#qty{
	position: relative;
	left:50px;
	top:30px;
	font-size: 18px;
}

#div_left>.i_list>.inde_button>.minus_decrease,.plus_increase{
	position: relative;  /*flexible the position*/
	top:40px;
	left: 50px;
	padding: 8px 14px;
}

#div_left>.i_list>.inde_button>#q_prod{
	position: relative;
	padding: 8px;
	left:50px;
	top:40px;
	width: 75px;
}

#div_left>.i_list>img{
	float: left;
	width: 150px;
	height: 230px;
	border-radius: 8px;
}

#div_left>.i_list>.movnremove{
	position: relative;
	top: 60px; /*position from top to bottom*/
	left: 50px;
}

#div_left>.i_list>div>#ttl{
	position: relative;
	left: 1200px;
}

#div_left>.i_list>h2{
	position: relative;
	left: 30px;
	bottom: 20px;
}

#div_left>.i_list{
	margin: auto;
	padding: 35px;
	width: 55%;
	border-radius: 5px;
}

#div_right>fieldset{
	border-radius: 5px;
	width: 55%;
	margin: auto;
	padding: 35px;
	background-color: #E8E8E8;
}
