/* Slideshow container */
.slideshow-container {
  width: 900px;
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 52%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 10px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a grey background color */
  .prev:hover, .next:hover {
    background-color: #f1f1f1;
    color: black;
  }

/* The dots/bullets/indicators */
.dot {
  height: 4px;
  width: 10px;
  margin: 0 2px;
  background-color: #bbb;
  display: inline-block;
  transition: background-color 0.6s ease;
  background-position-x: 20px;
}

.active {
  background-color: #717171;
}


/*fade in animation*/
.ActiveSlide {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 1s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
/*fade in animation*/
#video1 video{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  }

.chocolatevideo>h1{
  text-align: center;
}

.feslink{
  width: 90%;
  margin: auto;
  position: relative;
}
.fescolumn img{
  display: block;
  float: left;
  margin: 0;
  padding: 2px;
  width: 49%;
}
.fesrow::after {
  content: "";
  clear: both;
  display: table;
}

::cue{
  font-family: 'Times New Roman';
  background-color: #717171;
}

