/*upper navigation styles*/
#upper > nav {
	display: table;
	width: 250px;
	table-layout: fixed;
	margin-right: 0px;
	margin-left: auto;
}

/*lower navigation styles*/
#lower > nav {
	display: table;
	width: 100%;
	table-layout: fixed;
	background-color: white;
}

/*navigation styles*/
.navi > nav > ul {
	display: table-row;
}
.navi > nav > ul > li{
	display: table-cell;
}
.navi > nav > ul > li > a{
	display: block;
	text-align: center;
}
.navi nav ul li ul{
	visibility: hidden;
    transition:opacity 0.2s linear, visibility 0.2s linear;
	margin: 0;
	padding: 0;
	list-style: none;
	opacity:0;
    position: absolute;
	z-index: 99999;
}
.navi nav ul li:hover ul{
	visibility: visible;
	opacity: 1;
}

/*photo center*/
.center{
	display: block;
 	margin-left: auto;
  	margin-right: auto;
  	width: 50%;
}
/*icon*/
#fb img{
	width: 30px;
	position: relative;
	bottom:0.45px;
  }
  
  #twitter img{
	width: 22px;
	position: relative;
	top: 3px;
	bottom: 0.45px;
  }
  #ig img{
	position: relative;
	bottom: 0.8px;
	width: 29.5px;
  }
  
  .icon{
	float:left;
  }
  /*icon end*/
  
/*Top button*/
#topbtn {
	display: none; /* Hidden by default */
	position: fixed; /* Fixed/sticky position */
	bottom: 50px; /* Place the button at the bottom of the page */
	right: 50px; /* Place the button 30px from the right */
	z-index: 90; /* Make sure it does not overlap */
	border: none; /* Remove borders */
	outline: none; /* Remove outline */
	background-color: transparent;/* Set a background color */
	color: black; /* Text color */
	cursor: pointer; /* Add a mouse pointer on hover */
	padding: 15px; /* Some padding */
	border-radius: 15px; /* Rounded corners */
	font-size: 17px; /* Increase font size */
  }
  #topbtn:hover {
	color: white;
	background-color: #152238;
  }


  /*Sticky navigation*/
  .sticky {
	position: fixed;
	top: 0;
	width: 100%;
  }
  .sticky + .content {
	padding-top: 60px;
  }


/*chatbot*/
.open-button {
	background-color: transparent;
	border: none;
	cursor: pointer;
	opacity: 0.8;
	position: fixed;
	bottom: 17px;
	left: 17px;
	z-index: 90;
	display: block;
  }
.open-button img{
	width: 70px;
}
  
  /* The popup form - hidden by default */
  .popupchatbox {
	display: none;
	position: fixed;
	bottom: 10px;
	left: 10px;
	border: 2px solid #f1f1f1;
	z-index: 99;
  }
  
  /* Add styles to the form container */
  .chatbox {
	width: 310px;
	padding: 10px;
	height: 500px;
	background-color: gray;
  }
  /* When the inputs get focus, do something */
  .chatbox input[type=text]:focus, .chatbox input[type=password]:focus {
	background-color: whitesmoke;
	outline: none;
  }
  
  /*chat message*/
  .chatmessage::after {
	content: "";
	clear: both;
	display: table;
  }
  .chatmessage img {
	float: left;
	max-width: 60px;
	max-height: 60px;
	width: 100%;
	margin-right: 20px;
	border-radius: 50%;
  }

/*icon footer*/
#fb1 img{
	width: 50px;
	position: relative;
	bottom:5px;
  }
  
  #twitter1 img{
	width: 37px;
	position: relative;
	top: 2px;
	bottom: 5px;
  }
  #ig1 img{
	position: relative;
	bottom: 4px;
	width: 50px;
  }
  
  .icon1{
	float:left;
  }
  /*icon footer end*/
  
  