body{
  font-family: "Comic Sans MS";
}

div{
  padding: 16px;
}

div{
  width: 40%;
  border-style: ridge;
  border-radius: 15px;
  border-width: 40%;
  margin: auto;
  margin-top: 30px;
}

input[type="submit"]
{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    background-color: #4CAF50;
    opacity: 0.9;
}

input[type="text"],input[type="password"]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

[type="submit"]:hover
{
    opacity: 1;
}