body{
    margin: 0px;
    font-family: sans-serif;
}

*{
    box-sizing: border-box;
}

.home{
    height:100vh;
}

.home .slide{
    position:absolute;
    left: 0%;
    top: 0%;
    width: 50%;
    height: 50%;
    
}
.home .slide {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }