/*upper navigation styles*/
#upper > nav > ul > li > a:hover {
	background-color: black;
	color: white;
}

/*upper navigation styles*/
#lower > nav > ul > li > a:hover {
	background-color:#152238;
	color: white;
}

/*navigation styles*/
.navi > nav > ul > li {
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	font-size: 0.85em;
}

.navi > nav > ul > li > a{
    color: black;
    text-decoration: none;
    display: block;
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px;
}

.navi > nav > ul > li > a:visited {
	color: #222;
    background-color: black;
}
.navi nav ul li ul li a{
    color: white;
    text-decoration: none;
    display: block;
	font-weight: bold;
	text-transform: uppercase;
	padding: 8px 50px 8px 10px;
	background-color: #152238;
}
.navi nav ul li ul li a:hover{
    color: black;
	background-color: transparent;
}
/*structural styles*/
address{
	font-style: normal;
	font-size: 0.9em;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
}

/*chatbot*/
/* Full-width input fields */
.chatbox input[type=text], .chatbox input[type=password] {
	width: 255px;
	height: 50px;
	padding-top: 5px;
	margin-bottom: 5px;;
	border: none;
	background: white;
	position: absolute;
	bottom: 2px;
	left: 8px;
	font-size: 1.3em;
}
/* Set a style for the submit/login button */
.chatbox .sendbtn {
	background-color: black;
	color: white;
	height: 55px;
	border: none;
	cursor: pointer;
	width: 50px;
	opacity: 0.8;
	position: absolute;
	bottom: 8px;
	left: 272px;
}

/* Add a color to the cancel button */
.chatbox .closebtn {
	position: absolute;
	left: 298px;
	top: 5px;
}

/* Add some hover effects to buttons */
.chatbox .sendbtn:hover, .open-button:hover {
	opacity: 1;
}

/*chatmessage*/
.botkanyetime {
	float: right;
	color: gray;
  }
.chatmessage {
	border: 2px solid #dedede;
	background-color: white;
	border-radius: 5px;
	padding: 1px;
	margin-top: 10px;
  }
.chatmessage p{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-weight: 470;
	margin: 0;
	padding: 2px;
  }

/*footer*/
    .footer {
    display: flex;
    flex-flow: row wrap;
    padding: 0px;
    color: black;
    background-color: white;
    }
    
    .footer > * {
    flex:  1 100%;
    }
    
    .l-footer {
    margin-left: 5em;
    margin-right: 1em;
    margin-bottom: 1.5em;
    }
    .l-footer img{
        max-width: 230px;
        width: 50%;
    }
    
    h2 {
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
    }
    
    .footer ul {
    list-style: none;
    padding-left: 0;
    }
    
    .footer li {
    line-height: 2em;
    }
    
    .footer a {
    text-decoration: none;
    }
    
    .r-footer {
    display: flex;
    flex-flow: row wrap;
    }
    
    .r-footer > * {
    flex: 1 50%;
    margin-right: 1.25em;
    }
    
    .box a {
    color: black;
    }
    
    .h-box {
    column-count: 2;
    column-gap: 1.25em;
    }
    
.b-footer {
    text-align: center;
    color: black;
    line-height: 0.25cm;
    }
    
    .l-footer p {
    padding-right: 20%;
    color: #999;
    }   
    
    @media screen and (min-width: 600px) {
    .r-footer > * {
    flex: 1;
    }
    
    .features {
    flex-grow: 2;
    }
    
    .l-footer {
    flex: 1 0px;
    }
    
    .r-footer {
    flex: 2 0px;
    }
    }